input::placeholder {
  font-size: small;
  font-weight: 500;
  font-family: var(--font-yekan);
}

input:focus {
  outline: 1px solid green;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
